.popup-products {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the popup */
    width: 60%;
    min-width: 18rem;
    height: 50%; /* 80% of the viewport height
    background-color: rgb(253, 253, 253); /* Add a background color for visibility */
    box-shadow: 0 4px 38px rgba(0, 0, 0, 0.25); /* Optional shadow for better appearance */
    border-radius: 8px; /* Optional rounded corners */
    z-index: 1000; /* Ensures it appears above other elements */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    /* max-width: 600px; */
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.popup-item2{
    justify-self: flex-end;
}

.cross-popup{
    justify-self: flex-start;
    align-self: flex-start;
    /* transform: translateX(100%); */
    position: fixed;
    left: 97%;
    top: -5%;
}


  
  .popup-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .popup-table th,
  .popup-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .popup-table th {
    background-color: #f2f2f2;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .cross-popup {
    margin-top: 20px;
    cursor: pointer;
  }
  